services:
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
      - ./static:/usr/share/nginx/html:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - ticketing-core
      - queue-service
      - staff-api

  ticketing-core:
    image: ${DOCKER_USERNAME}/${DOCKER_REPO_CORE}:latest
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - DB_URL=${DB_URL}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy

  queue-service:
    image: ${DOCKER_USERNAME}/${DOCKER_REPO_QUEUE}:latest
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PORT=${REDIS_PORT}
    depends_on:
      redis:
        condition: service_healthy

  staff-api:
    image: ${DOCKER_USERNAME}/${DOCKER_REPO_STAFF}:latest
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    depends_on:
      ticketing-core:
        condition: service_started   # 또는 아예 depends_on 삭제해도 됨

  postgres:
    image: postgres:16
    environment:
      - POSTGRES_DB=ticketing
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    volumes:
      - pg-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ticketing"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s

  redis:
    image: redis:7
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20
      start_period: 5s

volumes:
  pg-data:
  redis-data: