server:
  port: 8080

spring:
  application:
    name: ticketing-core

  jpa:
    hibernate:
      ddl-auto: update

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

queue:
  base-url: http://queue-service:8082